###############################
# Line endings                #
###############################

# Default behavior:

# Handle line endings automatically for files detected
# as text # and leave all files detected as binary untouched.
# This is to avoid problems once people don't have core.autocrlf set.
* text=auto
# Above setting is for all files NOT explicitly listed below

# Behavior based on file extension:

# Below we explicitly declare text files you want to always be normalized
# and converted to native line endings on checkout.

# These files are text and should be normalized (Convert crlf => lf)
*.css          text eol=lf
*.html         text eol=lf
*.md           text eol=lf
*.svg          text eol=lf
*.txt          text eol=lf
*.yml          text eol=lf

# These files are text and must be normalized to crlf
*.bat          text eol=crlf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.jpg          binary
*.png          binary
*.pdf          binary
*.woff2          binary
