<h2 class="section-title">{{ .titles.contact }}</h2>

<p>Falls Sie ein Frage zu unserer veranstalung haben, können Sie gerne mit uns in Kontakt treten.</p>
<form method="post" action="contact.php" id="form" class="form">
  <div class="control-group control-group-name">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Ihr Name">
  </div>
  <div class="control-group control-group-email">
    <label for="email">E-Mail-Adresse</label>
  <input type="email" name="email" id="email" placeholder="Ihre E-Mail-Adresse">
  </div>
  <div class="control-group">
    <label for="message">Nachricht</label>
  <textarea name="" id="message" cols="30" rows="10" placeholder="Ihre Nachricht"></textarea>
  </div>
  <input class="btn btn-send" type="submit" value="Absenden">
</form>
