<header class="header">
  <div class="wrapper">
    <h1 class="logo-name">
      <a class="logo-link" href="#" title="Praxisworkshop" itemprop="name" style="font-size: 0.7em; margin-bottom: 20px; padding: 10px; background: rgba(0,0,0,0.2); display: inline-block; border-radius:20px;">Praxisworkshop</a>
    </h1>
    <h2 class="tagline" style="font-size: xx-large; line-height: normal; margin-bottom: 20px; padding: 0.3em; background: rgba(0,0,0,0.5); display: inline-block; border-radius:20px;">Erfolgreicher Einsatz von Tränkeautomaten<br> und UV-C Hygienisierung in der Kälberaufzucht</h2>
<br>
    <h2 class="tagline" style="font-size: x-large; line-height: normal; margin-bottom: 20px; padding: 0.5em; background: rgba(0,0,0,0.4); display: inline-block; border-radius:20px;">9. Oktober 2025<br>Urban GmbH & Co. KG<br>27798 Hude-Wüsting</h2>

    <div class="call-action-area" style="line-height: normal;">
      <div style="padding: 0.4em; background: rgba(0,0,0,0.2); display: inline-block; border-radius:20px;">
        <span class="price">6 ATF-Stunden</span><br>
        <span class="price">Teilnahmegebühr: 35 €</span>
      </div>
      <br><br>
    </div>
  </div>
</header>

<hr>
