{{ with .forkbutton }}
  <a href="{{ .repository }}" class="github-link" target="_blank">
    <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub">
  </a>
{{ end }}

<header class="header">
  <div class="wrapper">
    <h1 class="logo-name">
      <a class="logo-link" href="#" title="Praxisworkshop" itemprop="name" style="font-size: 0.7em; margin-bottom: 40px;">Praxisworkshop</a>
    </h1>
    <h2 class="tagline" style="font-size: xx-large; line-height: normal; margin-bottom: 30px;">Erfolgreicher Einsatz von Tränkeautomaten<br> und UV-C Hygienisierung in der Kälberaufzucht</h2>
    <h2 class="tagline" style="font-size: x-large; line-height: normal;; margin-bottom: 30px;">9. Oktober 2025<br>Urban GmbH & Co. KG<br>27798 Hude-Wüsting</h2>

    <div class="call-action-area" style="line-height: normal;">
      <span class="price">6 ATF-Stunden</span><br>
      <span class="price">Teilnahmegebühr: 35 €</span><br><br><br>
        <a href="#registrierung" class="call-action-link" title="Jetzt registrieren!">Jetzt registrieren!</a>
    </div>
  </div>
</header>

<hr>
