<h2 class="section-title">Kontakt</h2>

<p>Falls Sie ein Frage zu unserer Veranstaltung haben, dürfen Sie gerne mit uns in Kontakt treten.</p>

<form method="post" action="https://api.staticforms.xyz/submit" id="form" class="form">

  <input type="hidden" name="Anfrage" value="ATF-Schulung Oktober 2025">

  <div class="control-group control-group-name">
    <label for="name">Name*</label>
    <input type="text" name="Name" id="name-contact" placeholder="Ihr Name" style="width: 95%;" required>
  </div>
  <div class="control-group control-group-right">
    <label for="email">E-Mail-Adresse*</label>
  <input type="email" name="E-Mail" id="email-contact" placeholder="Ihre E-Mail-Adresse" required>
  </div>
  <div class="control-group">
    <label for="message">Nachricht*</label>
  <textarea name="Nachricht" id="message-contact" cols="30" rows="10" placeholder="Ihre Nachricht" required></textarea>
  </div>
  <div class="g-recaptcha" data-sitekey="6LfenXorAAAAAAkNBpmvNtHBRUmsWAWmFM9JAzx5"></div>
  <input type="hidden" name="accessKey" value="sf_bae5e55fj3373ligi6ebbjc8">

  <input type="hidden" name="replyTo" value="@email"> <!-- Use the email from the form -->
  <input type="hidden" name="redirectTo" value="https://atf.urbanonline.de/kontakt/erfolg">

  <input class="btn btn-send" type="submit" value="Absenden">
</form>
