<div style="display: flex; align-items: center;">
  <h2 class="section-title" style="margin-right: auto">Programm</h2> 
  <a href="/pdf/Programm-Schulung-Urban-ATF.pdf" target="_blank"><img  height="60px" alt="Icon pdf file" src="/pdf/pdf_file_icon.svg"></a>
</div>

<p>Die Schulungsmaßnahme findet am 09. Oktober 2025 vom 9:00 h bis 16:30 h statt.</p>

<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Uhrzeit</th>
        <th class="schedule-slot">Referent</th>
        <th class="schedule-description">Vortragstitel</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            <td class="schedule-slot">
            {{ with .photo }}
              <span class="speaker-photo">
                <img class="photo" src="{{ . }}" alt="{{ $slot.name }}">
              </span>
            {{ end }}

              {{ .presentation.title }}
              <span class="speakers-company">{{ .company }}</span>
            </td>
            <td class="schedule-description">{{ .presentation.description }}</td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .name }}</td>
            <td class="schedule-description">-</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>
