<h2 class="section-title">{{ .titles.registration }}</h2>

<p>Falls Sie ein Frage zu unserer Veranstaltung haben, können Sie gerne mit uns in Kontakt treten.</p>

<form method="post" action="https://api.staticforms.xyz/submit" id="form" class="form">

  <!-- Anti-spam honeypot field -->
  <input
    type="text"
    name="honeypot"
    style="display: none"
    tabindex="-1"
    autocomplete="off"
  >

  <!-- Custom field with $ prefix -->
  <div class="control-group">
    <label for="titel">Titel</label>
    <input style="width: 20%;" type="text" id="titel" name="$titel">
  </div>

  <div class="control-group control-group-name">
    <label for="vorname">Vorname</label>
    <input type="text" id="vorname" name="$vorname">
  </div>

  <div class="control-group control-group-right">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Ihr Name" required>
  </div>

    <!-- Custom field with $ prefix -->
  <div class="control-group">
    <label for="praxis">Tierarztpraxis:</label>
    <input type="text" id="praxis" name="$praxis">
  </div>

  <div class="control-group" >
    <label for="strasse">Straße</label>
  <input  type="text" name="strasse" id="email" placeholder="Ihre Straße" required>
  </div>

  <div class="control-group control-group-name">
    <label for="plz">PLZ</label>
    <input style="width: 20%;" type="text" id="plz" name="plz" placeholder="Ihre PLZ">
  </div>

  <div class="control-group control-group-right">
    <label for="ort">Ort</label>
    <input style="width: 100%;" type="text" name="ort" id="name" placeholder="Ihr Wohnort" required>
  </div>

  <div class="control-group ">
    <label for="email">E-Mail-Adresse</label>
  <input style="clear: both;" type="email" name="email" id="email" placeholder="Ihre E-Mail-Adresse" required>
  </div>

  <input type="checkbox" id="vegetarisch" name="vegetarisch" value="Ja">
  <label for="vehicle1">Vegetarisches Essen gewünscht?</label>

  <div class="control-group">
  <label for="message">Bemerkungen (optional)</label>
  <textarea name="" id="message" cols="30" rows="10" placeholder="Ihre Nachricht"></textarea>
  </div>
  <div class="g-recaptcha" data-sitekey="6LfenXorAAAAAAkNBpmvNtHBRUmsWAWmFM9JAzx5"></div>
  <input type="hidden" name="accessKey" value="sf_bae5e55fj3373ligi6ebbjc8">

  <input type="hidden" name="subject" value="Registrierung ATF-Schulung Oktober 2025">
  <input type="hidden" name="replyTo" value="@email"> <!-- Use the email from the form -->
  <input type="hidden" name="redirectTo" value="https://atf.urbanonline.de/registrierung/erfolg">

  <input class="btn btn-send" type="submit" value="Absenden">
</form>
