<h2 class="section-title">Registrierung</h2>

<p>Nutzen Sie das nachfolgende Formular, um sich verbindlich für die Veranstaltung zu registrieren.</p>

<form method="post" action="https://api.staticforms.xyz/submit" id="registration-form" class="form">

  <!-- Anti-spam honeypot field -->
  <input
    type="text"
    name="honeypot"
    style="display: none"
    tabindex="-1"
    autocomplete="off"
  >

  <input type="hidden" name="Registrierung" value="ATF-Schulung Oktober 2025">

  <div class="control-group control-group-name" style="width: 15%;" >
    <label for="anrede">Anrede</label>
    <input type="text" id="anrede" name="Anrede" placeholder="Ihre Anrede" style="width: 80%;">
  </div>

  <div class="control-group control-group-right">
    <label for="titel">Titel</label>
    <input style="width: 25%;" type="text" id="titel" name="Titel" placeholder="Ihr Titel">
  </div>

  <div class="control-group control-group-name">
    <label for="vorname">Vorname*</label>
    <input type="text" id="vorname" name="Vorname" placeholder="Ihr Vorname" style="width: 95%;" required>
  </div>

  <div class="control-group control-group-right">
    <label for="name">Name*</label>
    <input type="text" name="Name" id="name" placeholder="Ihr Name" required>
  </div>

  <div class="control-group">
    <label for="praxis">Tierarztpraxis</label>
    <input type="text" id="praxis" name="Praxis" placeholder="Ihre Tierarztpraxis" >
  </div>

  <div class="control-group" >
    <label for="strasse">Straße*</label>
  <input  type="text" name="Strasse" id="strasse" placeholder="Ihre Straße" required>
  </div>


  <div class="control-group control-group-name" style="width: 15%;" >
    <label for="plz">PLZ*</label>
    <input type="text" id="plz" name="PLZ" placeholder="Ihre PLZ" style="width: 85%;" required>
  </div>

  <div class="control-group control-group-right" style="width: 85%;">
    <label for="wohnort">Ort*</label>
    <input type="text" name="Ort" id="wohnort" placeholder="Ihr Wohnort" required>
  </div>

  <div class="control-group control-group-name">
    <label for="email">E-Mail-Adresse*</label>
  <input type="email" name="E-Mail" id="email" placeholder="Ihre E-Mail-Adresse" style="width: 95%;" required>
  </div>

  <div class="control-group control-group-right">
    <label for="name">Telefon</label>
    <input type="text" name="Telefon" id="telefon" placeholder="Ihre Telefonnummer (für Rückfragen)">
  </div>

  <div class="control-group" style="padding-top: 8pt; padding-bottom: 8pt;">
  <div style="display: flex;">
    <div><input type="checkbox" id="vegetarisch" name="Vegetarisch" value="Ja" class="p-3"></div>
    <div><label for="vegetarisch">&nbsp;&nbsp;Vegetarisches Essen gewünscht</label></div>
  </div>
  </div>

  <div class="control-group">
  <label for="message">Bemerkungen (optional)</label>
  <textarea style="height: 200px;" name="Bemerkungen" id="message" cols="30" rows="10" placeholder="Ihre Bemerkungen"></textarea>
  </div>

  <div class="control-group" style="padding-top: 8pt; padding-bottom: 8pt;">
  <div style="display: flex;">
    <div><input type="checkbox" id="datenschutz" name="Datenschutz" value="Ja" class="p-3" required></div>
    <div><label for="datenschutz">&nbsp;&nbsp;Mit der Speicherung meiner Daten gemäß folgender <a href="https://www.urbanonline.de/datenschutz" target="_blank">Datenschutzvorgaben</a> bin ich einverstanden</label></div>
  </div>
  </div>

  <div class="g-recaptcha" data-sitekey="6LfenXorAAAAAAkNBpmvNtHBRUmsWAWmFM9JAzx5"></div>
  <input type="hidden" name="accessKey" value="sf_bae5e55fj3373ligi6ebbjc8">

  <input type="hidden" name="replyTo" value="@email"> <!-- Use the email from the form -->
  <input type="hidden" name="redirectTo" value="https://atf.urbanonline.de/registrierung/erfolg">

  <input class="btn btn-send" type="submit" value="Absenden">
</form>
