<h2 class="section-title">Über</h2>

<p itemprop="description">Tränkeautomaten gehören bei der Kälberaufzucht in Gruppenhaltung mittlerweile zum Standard, allerdings können bei fehlerhafter Bedienung Probleme und negative gesundheitliche Folgen bei den Kälbern auftreten. </p>

<p>Dieser Praxisworkshop soll Tierärzte befähigen die korrekte Funktion des Tränkeautomaten zu erkennen und  Fehler in der Automateneinstellung und -bedienung zu erkennen, sowie mögliche Defekte am Automaten festzustellen.</p>
<p>Mit diesem Workshop möchte die Firma Urban Berührungsängste mit den Tränkeautomaten abbauen.</p>

<p>UV-C Desinfektion wird auch in der Viehhaltung populärer, es werden  wissenschaftliche Studien über die Wirksamkeit der UV-C Desinfektion im Bereich der Kälberhaltung vorgestellt. Gerade bei der Kryptosporidien- und Seuchenbekämpfung nicht nur- aber auch auf Bio Betrieben bietet UV-C viele Vorteile. </p>
